.task-form {
  width: 70%;
  height: 45%;
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
  padding: 1rem;
  input {
    border: none;
    border-bottom: solid 1px $dark;
    font-size: 1rem;
  }
  button {
    @include button(6rem, 2rem, $light, $primary, 1rem);
  }
}
